
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.big-loading-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
}

.navbar {
  z-index: 1000;
}

.topnav-brand {
  line-height: normal;
}

.top-nav-items {
  flex-direction: row;
}

.top-nav-items > .nav-link{
  padding-right: .5rem;
  padding-left: .5rem;
}

.side-navbar {
  position: -webkit-fixed;
  position: fixed;
  width: 30%;
  height: 70.66px;
  z-index: 1000;
}

.side-navbar-toogle-button {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: .5rem;
}

.side-navbar-expand-button {
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-left: .5rem;
}

.side-navbar-locate-button {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.side-navbar-menu {
  margin-bottom: 16px;
}

.side-navbar-menu-content {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y : auto;
  -webkit-overflow-scrolling: touch;
}

.side-navbar-menu-pagination {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.side-navbar-content {
  position: -webkit-absolute;
  position: absolute;
  background-color: #f8f9fa;
  padding-left: 16px;
  padding-right: 16px;
  overflow-y: hidden;
}

.map {
  z-index: 0;
  width: 100%;
  height: calc(100vh - 56.66px);
}

#map {
  z-index: 0;
  width: 100%;
  height: calc(100vh - 56.66px);
}

.county-mask-popup{
  text-align: center;
}

.county-mask-popup > caption{
  caption-side: top;
  text-align: center;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

@media (min-width: 1200px) { 
  .side-navbar-content {
      width: 100%;
      max-height: calc(100vh - 56.66px);
      left: 0;
  }
}

@media (max-width: 1200px) {
  .side-navbar-menu-content {
    max-height: 50vh;
  }

  .side-navbar {
    width: 100%;
  }

  .side-navbar-content {
    width: 100%;
  }

  .leaflet-top .leaflet-control {
    margin-top: 80.66px;
  }
}