
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  min-width: 100%;
  min-height: 100%;
}

.navbar {
  z-index: 1;
}

.top-nav-items {
  flex-direction: row;
}

.top-nav-items > .nav-link{
  padding-right: .5rem;
  padding-left: .5rem;
}

.side-navbar {
  position: -webkit-fixed;
  position: fixed;
  width: 25%;
  height: 70.66px;
  z-index: 1;
}


.side-navbar-toogle-button {
  height: 70.66px;
  position: absolute;
  left: 100%;
}

.side-navbar-expand-button {
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.side-navbar-locate-button {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.side-navbar-menu {
  margin-bottom: 16px;
}

.side-navbar-menu-content {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y : auto;
  -webkit-overflow-scrolling: touch;
}

.side-navbar-content {
  position: -webkit-absolute;
  position: absolute;
  background-color: #f8f9fa;
  padding-left: 16px;
  padding-right: 16px;
}

#map {
  z-index: 0;
  width: 100%;
  height: calc(100vh - 56.66px);
}

@media (min-width: 1200px) { 
  .side-navbar-content {
      width: 100%;
      max-height: calc(100vh - 56.66px);
      left: 0;
  }
}

@media (max-width: 1200px) {
  .side-navbar-menu-content {
    max-height: 50vh;
  }

  .side-navbar {
    width: 100%;
  }

  .side-navbar-content {
    width: 100%;
  }

  .side-navbar-toogle-button {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
}